[Unit]
Description=etcd key-value store
Documentation=https://github.com/etcd-io/etcd
After=network-online.target local-fs.target remote-fs.target time-sync.target
Wants=network-online.target local-fs.target remote-fs.target time-sync.target

[Service]
Type=notify
Environment=ETCD_UNSUPPORTED_ARCH=arm64
ExecStart=/usr/local/bin/etcd \
  --name $ETCD_CONFIG_NAME \
  --cert-file=/etc/etcd/kube-api-server.crt \
  --key-file=/etc/etcd/kube-api-server.key \
  --peer-cert-file=/etc/etcd/kube-api-server.crt \
  --peer-key-file=/etc/etcd/kube-api-server.key \
  --trusted-ca-file=/etc/etcd/ca.crt \
  --peer-trusted-ca-file=/etc/etcd/ca.crt \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://${ETCD_CONFIG_INTERNAL_IP}:2380 \
  --listen-peer-urls https://${ETCD_CONFIG_INTERNAL_IP}:2380 \
  --listen-client-urls https://${ETCD_CONFIG_INTERNAL_IP}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://${ETCD_CONFIG_INTERNAL_IP}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster $ETCD_CONFIG_NAME=https://${ETCD_CONFIG_INTERNAL_IP}:2380 \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target